@model Module1.Models.BaiBao

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <section class="content py-2">
        <div class="container-fluid">
            <!--Content-->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-8">
                            <h5 class="text-csm">@ViewBag.Title</h5>
                        </div>
                        <div class="col-4">
                            <div class="float-right pt-1">
                                <button type="submit" class="btn btn-primary btn-sm">
                                    <i class="fas fa-save"></i>&nbsp; Save
                                </button>
                                <button type="button" class="btn btn-danger btn-sm">
                                    <a href="~/Admin/BaiBaos/Index" class="text-white"><i class="fas fa-door-open"></i>&nbsp; Thoát</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-horizontal">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-group">
                                    <label class="control-label col-md-10">Tên bài báo</label>
                                    @Html.EditorFor(model => model.TenBb , new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TenBb, "", new { @class = "text-danger"  })
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-10">Thể loại</label>
                                    @Html.DropDownList("MaTl", ViewBag.CategoryList as SelectList, "Chọn thể loại", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.MaTl, "", new { @class = "text-danger"  })
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-10">Lĩnh vực</label>
                                    @Html.DropDownList("MaLv", ViewBag.LinhVucList as SelectList, "Chọn lĩnh vực", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.MaLv, "", new { @class = "text-danger"  })
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-10">Nội dung</label>
                                    @Html.EditorFor(model => model.NoiDung, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NoiDung, "", new { @class = "text-danger"  })
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputFile">File input</label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="exampleInputFile">
                                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputFile">Thumb</label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            @* <input type="file" class="custom-file-input" id="exampleInputFile"> *@
                                            @Html.EditorFor(model=>model.Thumb, new {htmlAttributes = new {@class="custom-file-input"}, @id="exampleInputFile"})
                                            <label class="custom-file-label" for="exampleInputFile">Upload File</label>
                                            @Html.ValidationMessageFor(model => model.NoiDung, "", new { @class = "text-danger"  })
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-horizontal">

                                <div class="form-group">
                                    <label class="control-label col-md-10">Tác giả</label>
                                    @Html.DropDownList("UserId", ViewBag.AuthorList as SelectList, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger"  })
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-10">Trạng thái</label>
                                    @Html.DropDownListFor(model => model.Status,  new[] { new SelectListItem { Value = "1", Text = "Hiển thị" },new SelectListItem { Value = "2", Text = "Không hiển thị" }, }, "[Trạng thái]", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger"  })
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

