@model IEnumerable<Module1.Models.BaiBao>

@{
    ViewData["Title"] = "Trang chu";
}


@* content *@
<div class="row">
    <div class="col-lg-8">
        <!-- Trending Top -->
        @foreach (var item in Model.Take(1))
        {
            <div class="trending-top mb-30">
                <div class="trend-top-img" style="border-radius: 6px">
                    @if (!string.IsNullOrEmpty(item.Thumb))
                    {
                        @* <img src="@Url.Content("~/assets/img/" + item.Thumb)" alt="Thumbnail" /> *@
                        <img src="~/images/products/@item.Thumb" alt="Thumbnail" style="height: 500px; object-fit: contain; "/>
                    }
                    else
                    {
                        <img src="@Url.Content("~/assets/img/placeholder-1-1.jpg")" alt="Placeholder" />
                    }
                    <div class="trend-top-cap">
                        <span>@Html.DisplayFor(modelItem => item.MaTlNavigation.TenTl)</span>
                        <h2>
                            <a href="~/BaiBaos/Details/@Html.DisplayFor(modelItem => item.MaBb)">@Html.DisplayFor(modelItem => item.TenBb)</a>
                        </h2>
                    </div>
                </div>
            </div>

        }
        <!-- Trending Bottom -->
        <div class="trending-bottom">
            <div class="row">

                @foreach (var item in Model.Take(3))
                {
                    <div class="col-lg-4">
                        <div class="single-bottom mb-35">
                            <div class="trend-bottom-img mb-30">
                                @if (!string.IsNullOrEmpty(item.Thumb))
                                {
                                    <img src="~/images/products/@item.Thumb" alt="Thumbnail" style="width:100%"/>
                                }
                                else
                                {
                                    <img src="@Url.Content("~/assets/img/placeholder-1-1.jpg")" alt="Placeholder" />
                                }
                            </div>
                            <div class="trend-bottom-cap">
                                <span class="color1">@Html.DisplayFor(modelItem => item.MaTlNavigation.TenTl)</span>
                                <h4><a href="~/BaiBaos/Details/@Html.DisplayFor(modelItem => item.MaBb)">@Html.DisplayFor(modelItem => item.TenBb)</a></h4>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- Riht content -->
    <div class="col-lg-4">
        <h3>Bản tin văn hoá</h3>
        @foreach (var item in Model.Take(10).Where(b => b.MaTl == 3))
        {
            <div class="trand-right-single d-flex">
                <div class="trand-right-img">
                    @if (!string.IsNullOrEmpty(item.Thumb))
                    {
                        <img src="~/images/products/@item.Thumb" alt="Thumbnail"  height="150" width="150" />
                    }
                    else
                    {
                        <img src="@Url.Content("~/assets/img/trending/right1.jpg")" alt="Placeholder" width="100" />
                    }
                </div>
                <div class="trand-right-cap">
                    <span class="color1">@Html.DisplayFor(modelItem => item.MaTlNavigation.TenTl)</span>
                    <h4><a href="~/BaiBaos/Details/@Html.DisplayFor(modelItem => item.MaBb)">@Html.DisplayFor(modelItem => item.TenBb)</a></h4>
                </div>
            </div>
        }
        <h3>Tin chính trị</h3>
        @foreach (var item in Model.Take(10).Where(b => b.MaTl == 2))
        {
            <div class="trand-right-single d-flex">
                <div class="trand-right-img">
                    @if (!string.IsNullOrEmpty(item.Thumb))
                    {
                        <img src="~/images/products/@item.Thumb" alt="Thumbnail" height="150" width="150" />
                    }
                    else
                    {
                        <img src="@Url.Content("~/assets/img/trending/right1.jpg")" alt="Placeholder" width="100" />
                    }
                </div>
                <div class="trand-right-cap">
                    <span class="color1">@Html.DisplayFor(modelItem => item.MaTlNavigation.TenTl)</span>
                    <h4><a href="~/BaiBaos/Details/@Html.DisplayFor(modelItem => item.MaBb)">@Html.DisplayFor(modelItem => item.TenBb)</a></h4>
                </div>
            </div>
        }
        
    </div>
</div>