@model Module1.Models.BaiBao

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Journalist/Views/Shared/_JournalistLayout.cshtml";
}

<section class="content my-2">
    <div class="container-fluid">
        <!--Content-->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-8">
                        <h5 class="text-csm">@ViewBag.Title</h5>
                    </div>
                    <div class="col-4">
                        <div class="float-right pt-1">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-actions no-color">
                                    <button type="submit" class="btn btn-danger btn-sm">
                                        <i class="far fa-trash-alt fa-xs"></i> &nbsp; Xóa vĩnh viễn
                                    </button>

                                    <button type="button" class="btn btn-info btn-sm">
                                        <a href="@Url.Action("Index", "BaiBaos")" class="text-white"><i class="fas fa-sign-out-alt fa-xs"></i>&nbsp;   Back To List</a>
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-bordered table-hover">

                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.MaBb)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.MaBb)</td>
                    </tr>
                    <tr>
                        <th scope="col"> Lĩnh vực</th>
                        <td scope="col">  @Html.DisplayFor(model => model.MaLvNavigation.TenLinhVuc)</td>
                    </tr>
                    <tr>
                        <th scope="col"> Thể loại</th>
                        <td scope="col">  @Html.DisplayFor(model => model.MaTlNavigation.TenTl)</td>
                    </tr>
                    <tr>
                        <th scope="col"> Tựa đề</th>
                        <td scope="col">  @Html.DisplayFor(model => model.TenBb)</td>
                    </tr>
                    <tr>
                        <th scope="col"> Ngày viết</th>
                        <td scope="col">  @Html.DisplayFor(model => model.NgayViet)</td>
                    <tr>
                        <th scope="col"> Nội dung</th>
                        <td scope="col">  @Html.DisplayFor(model => model.NoiDung)</td>
                    </tr>
                    <tr>
                        <th scope="col"> Lần chỉnh sửa cuối</th>
                        <td scope="col">  @Html.DisplayFor(model => model.NgayChinhSua)</td>
                    </tr>                    
                    <tr>
                        <th scope="col"> Ảnh bìa</th>
                        <td scope="col">  @Html.DisplayFor(model => model.Thumb)</td>
                    <tr>
                        <th scope="col"> Trạng thái</th>
                        <td scope="col">  @Html.DisplayFor(model => model.Active)</td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</section>